<!DOCTYPE html><html lang="en"><head>
    <meta charset="utf-8" />
    <title>Chart.js </title>
    <!-- import plugin script -->
    <script src='static/Chart.min.js'></script>
</head><body>
<h1>Урон топовых кланов (подсчет ведется с 19:30 4.12.15)</h1>
<h3> Обновление каждые 8 минут</h3>
<!-- bar chart canvas element -->
<canvas id="chart" width="600" height="400"></canvas>
<script>
   // bar chart data
   var barData = {
   labels : [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(251,87,5,0.4)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in values %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");

   steps = 10
   max = {{max_value}}
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });

</script>
<h3>{{diff_message}}</h3>
<h3>Это всего лишь {{E100_count}} танков E100!!! </h3><img src="static/E100.png">
</body></html>